.footer {
  background-color: $white;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.footer__icon {
  line-height: 1.5;
  &--heart {
    color: $primary;
  }
}

.footer__text {
  font-weight: 700;
  margin-right: 10px;
  margin-left: 10px;
  text-transform: uppercase;
}
