.navbar__link {
  background: none;
  border: 0;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  outline: none;
  padding: .5rem 0;
  font-weight: 600;

  &:focus {
    outline: none;
  }

  &:hover {
    text-decoration: none;
    color: black;
  }
}
.navbar {
  width: 100%;
  background-color: $white;
}
