.navbar {
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  padding: 10px 0;
}

.nav-item {
  margin: 0 15px;
}

.nav-link,
.navbar-brand {
  color: black !important;
  font-size: 14px;
}
