.navbar {
  font-weight: $font-weight-bold;
  padding: 10px 0;
  text-transform: uppercase;
}

.nav-item {
  margin: 0 15px;
}

.nav-link,
.navbar-brand {
  color: black !important;
  font-size: 0.875rem;
}

/* Responsive */

@include media-breakpoint-up(md) {
  .nav-item:last-of-type {
    margin-left: 1px;
    margin-right: 0;
  }
}
