html {
}

body {
  color: black;
  padding: 0 50px 50px;
}

.home, .about {
  height: 100vh;
}

.curriculum_vitae {
}

.networks {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 25px;
  top: 50%;
  transform: translate(50%, -50%);
}

.networks__icon {
  color: black;
  font-size: 22px;
  margin: 5px 0;
}

.hero, .profile {
  flex-grow: 1!important;
}

.profile__text {
  background: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0 50px;
}

.profile__description {
  color: $gray-600;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}

.profile__picture {
  background: $bg-grey;
  height: 100%;
  // transform: scaleX(-1);
}
.profile__hobbies {
  list-style-type: none;
}

.hobbies {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.hobbies__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-top: 20px;
}

.item__icon {
  align-items: center;
  background-color: $primary;
  border-radius: 50%;
  color: white;
  display: flex;
  font-size: 30px;
  height: 68px;
  justify-content: center;
  width: 68px;
}

.item__text {

}

.profile__title {
  font-size: 56px;
  font-weight: 700;
  margin-top: auto;
}

.picture-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.picture-container__box {
  height: 350px;
  overflow: hidden;
  width: 350px;

  img {
    max-width: 100%;
  }
}

.hero__text {
  background: $bg-grey;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0 50px;
}

.hero__vectors {
  background: $primary;
  height: 100%;
}

.hero__title {
  font-size: 56px;
  font-weight: 700;
  margin-top: auto;
}

.hero__subtitle {
  font-size: 28px;
  font-weight: 700;
}

.hero__link, .profile__link, .timeline__link {
  color: black;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 50px;
  margin-top: auto;

  i {
    margin-left: 5px;
  }

  &:hover {
    text-decoration: none;
  }
}

.timeline {
}

.timeline__mode-details {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.timeline__logo {
  &--frizbiz {
    img {
      height: 50px;
    }
  }

  &--heph {
    img {
      height: 90px;
    }
  }

  &--idea{
    img {
      height: 60px;
    }
  }

  &--listy {
    img {
      height: 50px;
    }
  }

  &--wagon {
    img {
      height: 90px;
    }
  }

  img {
    width: auto;
  }
}

.timeline__title {
  font-size: 56px;
  font-weight: 700;
  margin-top: auto;
}
