body {
  color: black;
  padding: 0 20px 20px;
}

.turbolinks-progress-bar {
  background-color: $primary;
  height: 4px;
}

/* Responsive */

@include media-breakpoint-up(md) {
  body {
    padding: 0 50px 50px;
  }
}
