.networks {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 25px;
  top: 50%;
  transform: translate(50%, -50%);
}

.networks__icon {
  color: black;
  font-size: 22px;
  margin: 5px 0;
}
