.about {
  // height: 100vh;
}

.profile {
  flex-grow: 1!important;
}

.profile__text {
  background: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 50px;
}

.profile__description {
  color: $gray-600;
  font-size: 1.125rem;
  font-weight: $font-weight-light;
  margin-top: 20px;
}

.profile__picture {
  height: 50%;
  // transform: scaleX(-1);
}
.profile__hobbies {
  list-style-type: none;
}

.hobbies {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.hobbies__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  margin-top: 20px;
}

.item {
}

.item__icon {
  align-items: center;
  background-color: $primary;
  border-radius: 50%;
  color: white;
  display: flex;
  font-size: 1.875rem;
  height: 68px;
  justify-content: center;
  width: 68px;
}

.item__text {
}

.profile__title {
  @extend .title;
  margin-top: 30px;
}

.picture-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.picture-container__box {
  height: 350px;
  overflow: hidden;
  width: 350px;

  img {
    max-width: 100%;
  }
}

.profile_chart {
  display: flex;
  flex-direction: column;
}

.chart {
  margin-top: 30px;
}

.chart__title {
  display: flex;
  font-size: 0.875rem;
  font-weight: $font-weight-bold;
  justify-content: flex-start;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.chart__image {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Responsive */

@include media-breakpoint-up(md) {
  .profile__picture {
    height: 100%;
  }
}
