.about {
  height: 100vh;
}

.profile {
  flex-grow: 1 !important;
}

.profile__text {
  background: white;
  padding: 0 10px;
}

.profile__description {
  color: $gray-600;
  font-size: .9rem;
  font-weight: $font-weight-light;
  margin: 15px 0;
  text-align: justify;
}

.profile__hobbies {
  list-style-type: none;
}

.hobbies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px 0;
  padding: 0;
}

.hobbies__item {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}

.hobbies__icon {
  align-items: center;
  background-color: $primary;
  border-radius: 50%;
  color: white;
  display: flex;
  font-size: 1rem;
  height: 34px;
  justify-content: center;
  margin-right: 10px;
  width: 34px;
}

.hobbies__text {
  font-size: .8rem;
  font-weight: $font-weight-bold;
}

.profile__title {
  @extend .title;
  margin-top: 30px;
}

.picture-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.picture-container__box {
  height: auto;
  overflow: hidden;
  width: 100%;

  img {
    max-width: 100%;
  }
}

.profile_chart {
  display: flex;
  flex-direction: column;
}

.chart {
  margin: 40px 0;
}

.chart__title {
  display: flex;
  font-size: .875rem;
  font-weight: $font-weight-bold;
  justify-content: flex-start;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.chart__image {
  align-items: center;
  display: flex;
  justify-content: center;

  img {
    width: 100%;
  }
}

// Responsive

@include media-breakpoint-up(md) {
  .profile__text {
    padding: 0 50px;
  }

  .profile__description {
    font-size: 1rem;
    margin: 25px 0;
  }

  .hobbies {
    justify-content: space-between;
    margin: 25px 0;
    padding: 0;
  }

  .hobbies__item {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .hobbies__icon {
    align-items: center;
    background-color: $primary;
    border-radius: 50%;
    color: white;
    display: flex;
    font-size: 1.4rem;
    height: 60px;
    justify-content: center;
    margin-bottom: 8px;
    margin-right: 0;
    width: 60px;
  }

  .hobbies__text {
    font-size: .8rem;
    font-weight: $font-weight-bold;
  }

  .picture-container__box {
    height: 350px;
    width: 350px;
  }
}
