.dotted {
  position: relative;
  display: inline-block;

  &:after {
    color: $primary;
    content: ".";
    position: absolute;
    margin-left: 1px;
  }
}

.bg-grey {
  background: $bg-grey;
}

.link--with-arrow {
  color: black;
  font-size: 14px;
  font-weight: $font-weight-bold;
  margin-bottom: 50px;
  margin-top: auto;

  i {
    margin-left: 5px;
  }

  &:hover {
    text-decoration: none;
  }
}

.title {
  font-size: 40px;
  font-weight: $font-weight-bold;
}

/* Responsive */

@include media-breakpoint-up(md) {
  .title {
    font-size: 56px;
  }
}
