.dotted {
  display: inline-block;
  position: relative;

  &::after {
    color: $primary;
    content: '.';
    margin-left: 1px;
    position: absolute;
  }
}

.bg-grey {
  background: $bg-grey;
}

.link--with-arrow {
  align-items: center;
  color: black;
  display: inline-flex;
  font-size: .875rem;
  font-weight: $font-weight-bold;
  margin: 20px auto 20px 0;

  i {
    margin-left: 5px;
  }

  &:hover {
    text-decoration: none;
  }
}

.title {
  font-size: 1.8rem;
  font-weight: $font-weight-bold;
}

.more-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 10px;
}

.more-details__title {
  font-size: .875rem;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.more-details__image {
  margin-top: auto;
}

.box-item {
  align-items: center;
  background-color: white;
  border: .1875rem solid $secondary;
  border-radius: .5rem;
  color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;

  &:hover {
    color: black;
    text-decoration: none;
    transform: translate3d(0, -3px, 0);
    transition: all .3s;
  }
}

.item {
}

.item__image {
  height: auto;
  width: 30%;
}

.item__title {
  font-weight: $font-weight-bold;
  margin-bottom: 15px;
}

.item__content {
  font-size: .875rem;
  font-weight: $font-weight-light;
}

// Responsive

@include media-breakpoint-up(md) {
  .title {
    font-size: 3rem;
  }

  .box-item {
    height: 190px;

    &--left {
      margin-left: .625rem;
    }

    &--right {
      margin-right: .625rem;
    }
  }

  .item__image {
    width: 80%;
  }
}


@include media-breakpoint-down(md) {
  .box-item {
    height: 360px;
  }
}

@include media-breakpoint-down(sm) {
  .box-item {
    height: auto;
  }
}
