.dotted {
  display: inline-block;
  position: relative;

  &::after {
    color: $primary;
    content: '.';
    margin-left: 1px;
    position: absolute;
  }
}

.bg-grey {
  background: $bg-grey;
}

.link--with-arrow {
  align-items: center;
  color: black;
  display: inline-flex;
  font-size: .875rem;
  font-weight: $font-weight-bold;
  margin: 20px auto 20px 0;

  i {
    margin-left: 5px;
  }

  &:hover {
    text-decoration: none;
  }
}

.title {
  font-size: 1.8rem;
  font-weight: $font-weight-bold;
}

.content__more-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 10px;
}

.more-details {
}

.more-details__title {
  font-size: 0.875rem;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

// Responsive

@include media-breakpoint-up(md) {
  .title {
    font-size: 3rem;
  }
}
