.curriculum_vitae {
}

.timeline {
}

.left-col {
  align-items: center;
  display: flex;
  justify-content: center;
}

.left-col__projetcs {
  overflow: hidden;
  width: 400px;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.1);
  margin-bottom: 60px;

  img {
    max-width: 100%;
    height: auto;
  }
}

.timeline__right-col {
  margin-bottom: 50px;
}

.timeline__left-col {
  border: 0;
}

.timeline__center-line-icon {
  display: none;
}

.timeline__more-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 50px;
  flex-direction: column;
}

.more-details {
}

.more-details__title {
  font-size: 14px;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.timeline__descritpion {
  font-size: 16px;
  font-weight: $font-weight-light;
  margin-bottom: 10px;
}

.timeline__name {
  font-size: 18px;
  font-weight: $font-weight-bold;
  margin-bottom: 10px;
}

.timeline__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  &--frizbiz {
    img {
      height: 50px;
    }
  }

  &--heph {
    img {
      height: 90px;
    }
  }

  &--idea{
    img {
      height: 60px;
    }
  }

  &--listy {
    img {
      height: 60px;
    }
  }

  &--wagon {
    img {
      height: 80px;
    }
  }
  img {
    width: auto;
  }
}

.timeline__location {
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.location-icon {
  display: flex;
  align-items: center;
  background-color: $secondary;
  border-radius: 50%;
  color: $primary;
  font-size: 14px;
  height: 30px;
  justify-content: center;
  width: 30px;
}

.location-name {
  margin-left: 10px;
  font-size: 16px;
  font-weight: $font-weight-light;
}

.timeline__date-badge {
  margin-right: 5px;
  font-weight: $font-weight-light;
  padding: 0.4rem;
  border-radius: 0.4rem;
  font-size: 90%;
  margin-bottom: 20px;
}

.timeline__tasks {
  background-color: $bg-grey;
  border-radius: 0.5rem;
  font-size: 14px;
  font-weight: $font-weight-very-light;
  padding: 0.4em 0.4em;
  margin-bottom: 30px;

  ul {
    list-style-type: none;
    margin-bottom: 5px;
    padding-left: 10px;
  }
}

.timeline__title {
  @extend .title;
  margin-top: auto;
  padding-top: 50px;
}

.timeline__skill-section {
  margin-bottom: 30px;
}

.skill-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-section__badge {
  margin-right: 5px;
  margin-top: 5px;
  font-weight: $font-weight-light;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

/* Responsive */

@include media-breakpoint-up(md) {
  .timeline__center-line-icon {
    position: absolute;
    top: 0px;
    right: -30px;
    align-items: center;
    background-color: $primary;
    border-radius: 50%;
    color: white;
    display: flex;
    font-size: 30px;
    height: 54px;
    justify-content: center;
    width: 54px;
  }

  .timeline__left-col {
    border-right: 6px solid $primary;
  }

  .timeline__right-col {
    padding-left: 80px;
  }

  .timeline__background {
    background: linear-gradient(90deg, $bg-grey 50%, white 50%);
  }

  .left-col {
    padding-left: 50px;
  }

  .location {
    justify-content: flex-start;
  }

  .skill-section {
    justify-content: flex-start;
  }

  .timeline__logo {
    display: flex;
    justify-content: flex-start;
  }
}
