.curriculum_vitae {
}

.timeline {
}

.timeline__more-details {
  display: flex;
  justify-content: center;
}

.timeline__more-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.timeline__logo {
  &--frizbiz {
    img {
      height: 40px;
    }
  }

  &--heph {
    img {
      height: 90px;
    }
  }

  &--idea{
    img {
      height: 60px;
    }
  }

  &--listy {
    img {
      height: 50px;
    }
  }

  &--wagon {
    img {
      height: 80px;
    }
  }
  img {
    width: auto;
  }
}

.timeline__date-badge {
}

.timeline__job-tasks {
  background-color: $bg-grey;
  border-radius: 0.5rem;
  font-size: 14px;
  font-weight: 300;
  padding: 0.4em 0.4em;

  ul {
    list-style-type: none;
    margin-bottom: 0px;
  }
}

.timeline__title {
  font-size: 56px;
  font-weight: 700;
  margin-top: auto;
}

.timeline__skill-section {
  margin-bottom: 30px;
}

.skill-section {

}

.skill-section__badge {

}

.timeline_chart {
  display: flex;
  justify-content: center;
}

.chart__title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.chart__link {
}
