.curriculum_vitae {
}

.timeline {
}

.timeline__background {
  background: linear-gradient(90deg, $bg-grey 50%, white 50%);
}

.timeline__left-col {
  border-right: 6px solid $primary;
}

.left-col {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 100px;
}

.left-col__projetcs {
  overflow: hidden;
  width: 400px;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.1);

  img {
    max-width: 100%;
    height: auto;
  }
  margin-bottom: 60px;
}

.timeline__right-col {
  padding-left: 80px;
  margin-bottom: 50px;
}

.timeline__center-line-icon {
  position: absolute;
  top: 0px;
  right: -30px;
  align-items: center;
  background-color: $primary;
  border-radius: 50%;
  color: white;
  display: flex;
  font-size: 30px;
  height: 54px;
  justify-content: center;
  width: 54px;
}


.timeline__more-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.more-details {

}

.more-details__title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.timeline__job-descritpion {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.timeline__job-position, .timeline__degree-name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.timeline__logo {
  margin-bottom: 10px;

  &--frizbiz {
    img {
      height: 50px;
    }
  }

  &--heph {
    img {
      height: 90px;
    }
  }

  &--idea{
    img {
      height: 60px;
    }
  }

  &--listy {
    img {
      height: 60px;
    }
  }

  &--wagon {
    img {
      height: 80px;
    }
  }
  img {
    width: auto;
  }
}

.timeline__location {

}

.location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.location-icon {
  display: flex;
  align-items: center;
  background-color: $secondary;
  border-radius: 50%;
  color: $primary;
  font-size: 14px;
  height: 30px;
  justify-content: center;
  width: 30px;
}

.location-name {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
}

.timeline__date-badge {
  margin-right: 5px;
  font-weight: 400;
  padding: 0.4rem;
  border-radius: 0.4rem;
  font-size: 90%;
  margin-bottom: 20px;
}

.timeline__job-tasks {
  background-color: $bg-grey;
  border-radius: 0.5rem;
  font-size: 14px;
  font-weight: 300;
  padding: 0.4em 0.4em;
  margin-bottom: 30px;

  ul {
    list-style-type: none;
    margin-bottom: 5px;
    padding-left: 10px;
  }
}

.timeline__title {
  font-size: 56px;
  font-weight: 700;
  margin-top: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.timeline__skill-section {
  margin-bottom: 30px;
}

.skill-section {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.skill-section__badge {
  margin-right: 5px;
  margin-top: 5px;
  font-weight: 400;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.timeline_chart {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart {

}

.chart__title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.chart__link {
}
