.skills {
}

.competences {
}

.competences__title {
  @extend .title;
  margin-top: auto;
  padding-bottom: 50px;
  padding-top: 50px;
}

.competences__more-details {
  margin-top: 40px;
}

.competences__item {
  align-items: center;
  background-color: white;
  border: .1875rem solid $secondary;
  border-radius: .5rem;
  color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;

  &:hover {
    color: black;
    text-decoration: none;
    transform: translate3d(0, -3px, 0);
    transition: all .3s;
  }
}

.item {
}

.item__image {
  height: auto;
  margin-bottom: 20px;
  width: 30%;
}

.item__title {
  font-weight: $font-weight-bold;
  margin-bottom: 15px;
}

.item__content {
  font-size: .875rem;
  font-weight: $font-weight-light;
}

// Responsive

@include media-breakpoint-up(md) {
  .competences__background {
    background: linear-gradient(90deg, $bg-grey 50%, white 50%);
  }

  .competences__item {
    height: 190px;

    &--left {
      margin-left: .625rem;
    }

    &--right {
      margin-right: .625rem;
    }
  }

  .item__image {
    margin-bottom: 0;
    width: 80%;
  }
}
