.tools {
}

.work-tools {
}

.work-tools__title {
  @extend .title;
  margin-top: auto;
  padding-top: 50px;
}

// Responsive

@include media-breakpoint-up(md) {
  .work-tools__background {
    background: linear-gradient(90deg, white 50%, $bg-grey 50%);
  }
}
