$bg-grey: #FAFAFA;
$body-bg: white;
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-weight-bold: 700;
$font-weight-light: 400;
$font-weight-very-light: 300;
$primary: #FF5857;
$secondary: #F2F2F2;
