// Define custom variables

$bg-grey: #fafafa;
$body-bg: white;
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-weight-bold: 700;
$font-weight-light: 400;
$font-weight-very-light: 300;
$primary: #ff5857;
$secondary: #f2f2f2;
