/!
  ...........................................................................................
/!
  ._____................................................_.............._____.................
/!
  |..__..\.............................................(_)............/.____|................
/!
  |.|__)..|.__.___...__._._.__.__._._.__.___.._.__.___.._._.__....__.|.(___...__._._.__.___..
/!
  |..___./'__./._.\./._`.|.'__/._`.|.'_.`._.\|.'_.`._.\|.|.'_.\./._`.|\___.\./._`.|.'_.`._..\
/!
  |.|....|.|.|.(_).|.(_|.|.|.|.(_|.|.|.|.|.|.|.|.|.|.|.|.|.|.|.|.(_|.|____).|.(_|.|.|.|.|.|.|
/!
  |_|....|_|..\___/.\__,.|_|..\__,_|_|.|_|.|_|_|.|_|.|_|_|_|.|_|\__,.|_____./\__,_|_|.|_|.|_|
/!
  ...................__/.|.......................................__/.|.......................
/!
  ..................|___./......................................|___./.......................
/!
  ...........................................................................................
/!
  To get in touch:
/!
  Website: programmingsam.io
/!
  Email: programmingsam@gmail.com
/!
  Github: ProgrammingSam
/!
  Gitlab: ProgrammingSam
/!
  Twitter: @ProgrammingSam
/!
  LinkedIn: https://www.linkedin.com/in/programmingsam
/!
  Malt: https://www.malt.be/profile/programmingsam
/!
  Upwork: https://www.upwork.com/o/profiles/users/_~012ba235c5748f7272
/i
  StackOverflow: https://stackoverflow.com/users/7732599/programmingsam
/i
  Codewars: https://profile-summary-for-github.com/user/ProgrammingSam
